<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-1">
    <%= form.label :full_name %><br/>
    <%= form.text_field :full_name %>
  </div>

  <div class="mb-3">
    <%= form.label :role %><br/>
    <%= form.select :role, [['Admin', 'admin'], ['Worker', 'worker'], ['Manager', 'manager']] %>
  </div>

  <div class="mb-3">
    <%= form.submit %>
  </div>
<% end %>
