<div class="container">
  <h1>Accounts</h1>
  <a class="btn btn-outline-primary" href="/oauth/applications" role="button">Doorkeeper</a>
  <a class="btn btn-outline-warning" href="<%= resend_data_path %>" role="button">Resend data</a>
  <%= render template: 'common/_user_info' %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>email</th>
        <th>full name</th>
        <th>active?</th>
        <th>role</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.id %></td>
          <td><%= account.email %></td>
          <td><%= account.full_name %></td>
          <td><%= account.active %></td>
          <td><%= account.role %></td>
          <td><%= link_to 'Edit', edit_account_path(account) %></td>
          <% case account.active %>
            <% when true %>
          <td><%= link_to 'Disable', account, data: { turbo_method: :delete } %></td>
            <% when false %>
          <td><%= link_to 'Enable', account, data: { turbo_method: :put } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container">
  <%= link_to'Logout', destroy_account_session_path, data: { turbo_method: :delete } %>
</div>
